<!-- start banner Area -->
<section class="banner-area" id="home">	
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-7 col-md-10">
                <h1 class="text-uppercase">
                    Search Book				
                </h1>
                <p class="text-white pt-20 pb-20">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
            </div>
            <div class="col-lg-5 col-md-12 banner-right">
                <img class="img-fluid" src="/assets2/img/header-img.png" alt="">
            </div>												
        </div>
    </div>
</section>
<!-- End banner Area -->
	

<!-- Start about Area -->
<section class="section-gap info-area" id="about">
    <div class="container">				
        <div class="single-info row mt-40 align-items-center">
            <div class="col-lg-6 col-md-12 text-center no-padding info-left">
                <div class="info-thumb">
                    <img src="assets2/img/buku.jpg" class="img-fluid info-img" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
                    <h2 class="pb-30">Dr. Travor James</h2>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women.								
                    </p>
                    <br>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women.									
                    </p>
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- End about Area -->



<!-- Start course Area -->
<section class="course-area section-gap" id="course">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">TKursus Teratas yang terbuka untuk Siswa</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="active-course-carusel">
                <div class="single-course item">
                    <img class="img-fluid w-40" src="assets2/img/membangun_aplikasi.jpg" alt="">
                    <div class="details">
                        <a href="#"><h4>Breakthrough Thinking <span class="price float-right">$25</span></h4></a>	
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        </p>
                    </div>
                </div>
                <div class="single-course item">
                    <img class="img-fluid w-40" src="assets2/img/membangun_aplikasi.jpg" alt="">
                    <div class="details">
                        <a href="#"><h4>Breakthrough Thinking <span class="price float-right">$25</span></h4></a>	
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        </p>
                    </div>
                </div>
                <div class="single-course item">
                    <img class="img-fluid w-40" src="assets2/img/membangun_aplikasi.jpg" alt="">
                    <div class="details">
                        <a href="#"><h4>Breakthrough Thinking <span class="price float-right">$25</span></h4></a>	
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        </p>
                    </div>
                </div>								
            </div>											
        </div>
    </div>	
</section>
<!-- End course Area -->

<div class="container" id="list">
    <h2 class="mt-5 mb-4 text-center">Daftar Buku</h2>

    <div class="book-container">
      <div class="book-card">
        <img src="assets2/img/micsrosoft excel.jpg" class="img-fluid" alt="Buku 1">
        <p class=" mt-2">micsrosoft Excel</p>
      </div>

      <div class="book-card">
        <img src="assets2/img/micsrosoft office 2010.jpg" class="img-fluid" alt="Buku 2">
        <p class=" mt-2">micsrosoft office 2010</p>
      </div>
      <div class="book-card">
        <img src="assets2/img/membangun_aplikasi.jpg" class="img-fluid" alt="Buku 1">
        <p class=" mt-2">Membangun aplikasi android web</p>
      </div>

      <div class="book-card">
        <img src="assets2/img/micsrosoft excel 2016.jpg" class="img-fluid" alt="Buku 2">
        <p class=" mt-2">micsrosoft excel 2016</p>
      </div>

      <!-- Tambahkan card buku lainnya sesuai kebutuhan -->
    </div>
  </div>