<div class="container mt-5">
    <h2>Data Transaksi Penjualan Buku</h2>
  
    <!-- Tabel Transaksi -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Judul Buku</th>
          <th scope="col">Penulis</th>
          <th scope="col">Harga</th>
          <th scope="col">Jumlah</th>
          <th scope="col">Total</th>
          <th scope="col">Tanggal Transaksi</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data Transaksi akan ditampilkan di sini -->
        <tr>
          <th scope="row">1</th>
          <td>Harry Potter</td>
          <td>J.K. Rowling</td>
          <td>100000</td>
          <td>2</td>
          <td>200000</td>
          <td>2023-12-11</td>
        </tr>
        <!-- Tambahkan baris seperti di atas untuk setiap transaksi -->
      </tbody>
    </table>
  
  </div>