<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-fMIjjz+TybF7/1uVAiUhEn1Npkf7+P2AQ9D7LgOIH9zXGfzfltP7Zz/fHC8eZj4tC8LYCLqVDVtxg3Nu5C/fgw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

  
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for this page -->
    
    <style>
        
        .show-password-toggle:checked + label + input[type="password"] {
            display: none;
        }
    
        .show-password-toggle:not(:checked) + label + input[type="password"] {
            display: inline-block;
        }
    
        .show-password-toggle:checked + label + input[type="text"] {
            display: inline-block;
        }
    
        .show-password-toggle:not(:checked) + label + input[type="text"] {
            display: none;
        }
       .book-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }

        .book-card {
            flex: 0 0 calc(25% - 20px);
            margin: 10px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 15px;
            border-radius: 10px;
        }

        .book-card img {
            max-width: 50%;
            height: auto;
            display: block;
            margin: 0 auto;
            border-radius: 5px;
        }

        .book-card p {
            font-size: 14px; /* Adjust the font size as needed */
            text-align: left; /* Align text to the left */
            margin-top: 5px; /* Adjust the margin as needed */
        }
        .detail-button {
            margin-top: 10px;
        }
    </style>
</head>